<%- include('./partials/header.ejs') %>
<h1>Health Application</h1>
<p>This is a web application for self-monitoring purposes. This application provides users an opportunity to report their behavior daily.</p>
<%- include('./partials/footer.ejs') %>