<%- include('./partials/header.ejs') %>
<h1>Morning report</h1>
<form method="POST" action="/behavior/reporting/morning">
    <h3>Sleep duration</h3>
    <fieldset>
        <label for="sleep_d">Number of hours slept</label>
        <input type="number" id="sleep_d" name="sleep_duration">
    </fieldset>
    <h3>Sleep quality</h3>
    <fieldset>
        <div class="row">
            <div class="column">
                <input type="radio" id="sleep1" name="sleep_quality" value="1">
                <label class="label-inline" for="sleep1"><b>Very poor</b></label>
            </div>
            <div class="column">
                <input type="radio" id="sleep2" name="sleep_quality" value="1">
                <label class="label-inline" for="sleep2"><b>Bad</b></label>
            </div>
            <div class="column">
                <input type="radio" id="sleep3" name="sleep_quality" value="1">
                <label class="label-inline" for="sleep3"><b>Okay</b></label>
            </div>
            <div class="column">
                <input type="radio" id="sleep4" name="sleep_quality" value="1">
                <label class="label-inline" for="sleep4"><b>Good</b></label>
            </div>
            <div class="column">
                <input type="radio" id="sleep5" name="sleep_quality" value="1">
                <label class="label-inline" for="sleep5"><b>Excellent</b></label>
            </div>
        </div>
    </fieldset>
    <h3>Generic mood</h3>
    <fieldset>
        <div class="row">
            <div class="column">
                <input type="radio" id="mood1" name="mood" value="1">
                <label class="label-inline" for="mood1"><b>Very poor</b></label>
            </div>
            <div class="column">
                <input type="radio" id="mood2" name="mood" value="1">
                <label class="label-inline" for="mood2"><b>Bad</b></label>
            </div>
            <div class="column">
                <input type="radio" id="mood3" name="mood" value="1">
                <label class="label-inline" for="mood3"><b>Okay</b></label>
            </div>
            <div class="column">
                <input type="radio" id="mood4" name="mood" value="1">
                <label class="label-inline" for="mood4"><b>Good</b></label>
            </div>
            <div class="column">
                <input type="radio" id="mood5" name="mood" value="1">
                <label class="label-inline" for="mood5"><b>Excellent</b></label>
            </div>
        </div>
    </fieldset>
    <h3>Date for submission</h3>
    <fieldset>
        <input type="date" name="date" value="<%= dateToday %>">
        <input type="submit" value="Submit report">
    </fieldset>
</form>
<%- include('./partials/footer.ejs') %>
