<%- include('./partials/header.ejs') %>
<h1>Reporting</h1>
<div class="row">
    <div class="column">
        <a class="button button-large" href="/behavior/reporting/morning">Report morning</a>
    </div>
    <div class="column">
        <a class="button button-large float-right" href="/behavior/reporting/evening">Report evening</a>
    </div>
</div>
<%- include('./partials/footer.ejs') %>